body {
    background-color: rgb(255, 255, 255);
}

h1 {
    position: relative;
    top: 70px;
}

.container {
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    margin:auto;
    text-align: center;
    border-radius: 25px;
    height: 600px;
    width: 400px;
    outline: solid 1px black;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    background-size: 100% 100%;
}

#email {
    background-image: url("../img/user.png");
    background-size:25px;
    background-position-x: 8px;
    background-position-y: center;
    background-repeat: no-repeat;
    text-indent: 40px;
    position: relative;
    top: 130px;
}

#password {
    background-image: url("../img/lock.png");
    background-size:32px;
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;
    text-indent: 40px;
    position: relative;
    top: 150px;
}

input#email:focus, input#password:focus {
    background-image:none;
    text-indent:1px
}

#email, #password {
    border: solid 1px #000;
    height: 50px;
    width: 300px;
    font-size: 14pt;
    border-radius: 10px;
    background-color: transparent;
    color: #000;
}

.login {
    height: 50px;
    width: 250px;
    position: relative;
    top: 205px;
    cursor: pointer;

}

.signup {
    height: 50px;
    width: 250px;
    top: 215px;
    position: relative;
    cursor: pointer;
}

.login, .signup {
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: white;
    box-shadow: 3px 3px 1px rgb(121, 120, 120);
}

.login:hover, .signup:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 1px rgb(121, 120, 120);
}

/* bottom page */

.bottom_page {
    position: absolute;
    text-align: center;
    bottom: 20px; right: 0; left: 0;
}

.aboutus {
    border: none;
    font-size: 15px;
    background-color: transparent;
    color: rgb(87, 85, 85);
    cursor: pointer;
}

.language {
    border: none;
    font-size: 15px;
    background-color: transparent;
    color: rgb(87, 85, 85);
    cursor: pointer;
}
